.feed{
    flex: 0.6;
    margin: 0 20px;
    margin-top: 0;
    width: 400px;
    max-width: 500px;
    z-index: 999;
    border-left: 2px solid rgb(61, 61, 61);
    border-right: 2px solid rgb(61, 61, 61);
    padding: 30px;
    padding-top: 50px;
}

.feed-inputContainer{
    background-color: transparent;
    border: 2px solid rgb(61, 61, 61);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 50px;

}

.feed-input:focus-within{
    border: 2px solid #0074b1;
}


form > input{
    background-color: transparent;
    color: white;
}

.feed-input{
    border: 2px solid lightgray;
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}


.feed-input > form{
    display: flex;
    width: 100%;
}

.feed-input > form > input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed-input > form > button{
    display: none;
}

.feed-input-option{
    display: flex;
    justify-content: space-evenly;
    
}
