*{
    /* box-sizing: border-box; */
}

.input-option{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.input-option:hover{
    scale: 1.2;
}


/* .like-btn:hover{
    color: red !important;
} */

.input-option > h4{
    margin-left: 5px;
}