*{
    /* box-sizing: border-box; */
}

.input-option{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.input-option:hover{
    /* border-radius: 10px; */
    /* outline: 2px solid lightgray; */

}

.like-btn:hover{
    color: blue !important;
}

.input-option > h4{
    margin-left: 5px;
}