.widgets{
    position: sticky;
    top: 100px;
    flex: 0.2;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgets-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widgets-header > h2{
    font-size: 16px;
    font-weight: 400;
}

.widgets-article{
    display: flex;
    cursor: pointer;
    padding: 10px;
}

.widgets-article:hover{
    background-color: whitesmoke;

}

.widgets-left-article{
    color: #0177b7;
    margin-right: 5px;
}

.widgets-left-article > .MuiSvgIcon-root{
    font-size: 15px;
}

.widgets-right-article{
    flex: 1;
}

.widgets-right-article > h4{
    font-size: 15px;
}

.widgets-right-article > p{
    font-size: 12px;
    color: gray;
}